<footer class="footer">
  <small>
    The <a ref="https://railstutorial.jp/">Ruby on Rails Tutorial by <a href="http://www.michaelhartl/com/">Michael Hartl</a>
    </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %> </li>
      <li><%= link_to "Contact", '/static_pages/contact' %> </li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>